@model NCVODMM.Models.FormAttribute

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-group">
	<label for="@Model.Name" class="control-label">@Model.Label</label>
	<input type="text" name="@Model.Name" id="@Model.Name" placeholder="@Model.Placeholder" />
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
